@import url("http://fonts.googleapis.com/css?family=Raleway:400,900");
body {
  font-family: 'Raleway', sans-serif;
}
body {
  color: #444;
}
p {
  margin: 0 0 1em 0;
  line-height: 170%;
}
p:last-child {
  margin-bottom: 0;
}
b,
strong {
  font-weight: bold;
  color: #61ae24;
}
a {
  color: #61ae24;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
i {
  font-style: italic;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 70px;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}
a.btn,
button,
input[type="button"] {
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  color: #444;
  padding: 7px 20px 7px 20px;
  margin: 0 3px 7px 0;
  font-size: 100%;
  line-height: 100%;
  -webkit-appearance: none;
  border-radius: 5px;
  outline: none;
  background: none;
  box-shadow: rgba(0,0,0,0.1) 0 1px 2px;
  text-shadow: rgba(0,0,0,0.3) 0 1px 2px;
  background: #618024;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#66b726),color-stop(100%,#5ca522));
  background: -webkit-linear-gradient(top,#66b726 0%,#5ca522 100%);
  background: -webkit-linear-gradient(top, #66b726 0%, #5ca522 100%);
  background: linear-gradient(to bottom,#66b726 0%,#5ca522 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66b726', endColorstr='#5ca522',GradientType=0 );
  color: #fff;
  -webkit-transition: background 300ms;
          transition: background 300ms;
}
a.btn:hover,
button:hover,
input[type="button"]:hover {
  background: #668026;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#74d12b),color-stop(100%,#579d20));
  background: -webkit-linear-gradient(top,#74d12b 0%,#579d20 100%);
  background: -webkit-linear-gradient(top, #74d12b 0%, #579d20 100%);
  background: linear-gradient(to bottom,#74d12b 0%,#579d20 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#74d12b', endColorstr='#579d20',GradientType=0 );
}
a.btn:hover,
button:hover,
input[type="button"]:hover {
  -webkit-transition: background 0ms;
          transition: background 0ms;
}
.btn-default {
  background: #618024;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#66b726),color-stop(100%,#5ca522));
  background: -webkit-linear-gradient(top,#66b726 0%,#5ca522 100%);
  background: -webkit-linear-gradient(top, #66b726 0%, #5ca522 100%);
  background: linear-gradient(to bottom,#66b726 0%,#5ca522 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66b726', endColorstr='#5ca522',GradientType=0 );
}
.btn-default:hover {
  background: #668026;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#74d12b),color-stop(100%,#579d20));
  background: -webkit-linear-gradient(top,#74d12b 0%,#579d20 100%);
  background: -webkit-linear-gradient(top, #74d12b 0%, #579d20 100%);
  background: linear-gradient(to bottom,#74d12b 0%,#579d20 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#74d12b', endColorstr='#579d20',GradientType=0 );
}
.btn-secondary {
  background: #800060;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#e20065),color-stop(100%,#cc005b));
  background: -webkit-linear-gradient(top,#e20065 0%,#cc005b 100%);
  background: -webkit-linear-gradient(top, #e20065 0%, #cc005b 100%);
  background: linear-gradient(to bottom,#e20065 0%,#cc005b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e20065', endColorstr='#cc005b',GradientType=0 );
}
.btn-secondary:hover {
  background: #800065;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ff0073),color-stop(100%,#c20056));
  background: -webkit-linear-gradient(top,#ff0073 0%,#c20056 100%);
  background: -webkit-linear-gradient(top, #ff0073 0%, #c20056 100%);
  background: linear-gradient(to bottom,#ff0073 0%,#c20056 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0073', endColorstr='#c20056',GradientType=0 );
}
.btn-green {
  background: #618024;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#66b726),color-stop(100%,#5ca522));
  background: -webkit-linear-gradient(top,#66b726 0%,#5ca522 100%);
  background: -webkit-linear-gradient(top, #66b726 0%, #5ca522 100%);
  background: linear-gradient(to bottom,#66b726 0%,#5ca522 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66b726', endColorstr='#5ca522',GradientType=0 );
}
.btn-green:hover {
  background: #668026;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#74d12b),color-stop(100%,#579d20));
  background: -webkit-linear-gradient(top,#74d12b 0%,#579d20 100%);
  background: -webkit-linear-gradient(top, #74d12b 0%, #579d20 100%);
  background: linear-gradient(to bottom,#74d12b 0%,#579d20 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#74d12b', endColorstr='#579d20',GradientType=0 );
}
.btn-yellow {
  background: #808002;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#dadb02),color-stop(100%,#c6c702));
  background: -webkit-linear-gradient(top,#dadb02 0%,#c6c702 100%);
  background: -webkit-linear-gradient(top, #dadb02 0%, #c6c702 100%);
  background: linear-gradient(to bottom,#dadb02 0%,#c6c702 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dadb02', endColorstr='#c6c702',GradientType=0 );
}
.btn-yellow:hover {
  background: #808002;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fafb02),color-stop(100%,#bbbc02));
  background: -webkit-linear-gradient(top,#fafb02 0%,#bbbc02 100%);
  background: -webkit-linear-gradient(top, #fafb02 0%, #bbbc02 100%);
  background: linear-gradient(to bottom,#fafb02 0%,#bbbc02 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafb02', endColorstr='#bbbc02',GradientType=0 );
}
.btn-orange {
  background: #808005;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fd9405),color-stop(100%,#e58605));
  background: -webkit-linear-gradient(top,#fd9405 0%,#e58605 100%);
  background: -webkit-linear-gradient(top, #fd9405 0%, #e58605 100%);
  background: linear-gradient(to bottom,#fd9405 0%,#e58605 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fd9405', endColorstr='#e58605',GradientType=0 );
}
.btn-orange:hover {
  background: #808006;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffa906),color-stop(100%,#d97f05));
  background: -webkit-linear-gradient(top,#ffa906 0%,#d97f05 100%);
  background: -webkit-linear-gradient(top, #ffa906 0%, #d97f05 100%);
  background: linear-gradient(to bottom,#ffa906 0%,#d97f05 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa906', endColorstr='#d97f05',GradientType=0 );
}
.btn-red {
  background: #804028;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f0432a),color-stop(100%,#da3d26));
  background: -webkit-linear-gradient(top,#f0432a 0%,#da3d26 100%);
  background: -webkit-linear-gradient(top, #f0432a 0%, #da3d26 100%);
  background: linear-gradient(to bottom,#f0432a 0%,#da3d26 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0432a', endColorstr='#da3d26',GradientType=0 );
}
.btn-red:hover {
  background: #80442a;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ff4d30),color-stop(100%,#ce3a24));
  background: -webkit-linear-gradient(top,#ff4d30 0%,#ce3a24 100%);
  background: -webkit-linear-gradient(top, #ff4d30 0%, #ce3a24 100%);
  background: linear-gradient(to bottom,#ff4d30 0%,#ce3a24 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4d30', endColorstr='#ce3a24',GradientType=0 );
}
.btn-magenta {
  background: #800060;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#e20065),color-stop(100%,#cc005b));
  background: -webkit-linear-gradient(top,#e20065 0%,#cc005b 100%);
  background: -webkit-linear-gradient(top, #e20065 0%, #cc005b 100%);
  background: linear-gradient(to bottom,#e20065 0%,#cc005b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e20065', endColorstr='#cc005b',GradientType=0 );
}
.btn-magenta:hover {
  background: #800065;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ff0073),color-stop(100%,#c20056));
  background: -webkit-linear-gradient(top,#ff0073 0%,#c20056 100%);
  background: -webkit-linear-gradient(top, #ff0073 0%, #c20056 100%);
  background: linear-gradient(to bottom,#ff0073 0%,#c20056 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0073', endColorstr='#c20056',GradientType=0 );
}
.btn-blue {
  background: #008080;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#00a9d5),color-stop(100%,#0099c1));
  background: -webkit-linear-gradient(top,#00a9d5 0%,#0099c1 100%);
  background: -webkit-linear-gradient(top, #00a9d5 0%, #0099c1 100%);
  background: linear-gradient(to bottom,#00a9d5 0%,#0099c1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a9d5', endColorstr='#0099c1',GradientType=0 );
}
.btn-blue:hover {
  background: #008080;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#00c1f4),color-stop(100%,#0091b7));
  background: -webkit-linear-gradient(top,#00c1f4 0%,#0091b7 100%);
  background: -webkit-linear-gradient(top, #00c1f4 0%, #0091b7 100%);
  background: linear-gradient(to bottom,#00c1f4 0%,#0091b7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00c1f4', endColorstr='#0091b7',GradientType=0 );
}
.btn-cyan {
  background: #018080;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#01acac),color-stop(100%,#019c9c));
  background: -webkit-linear-gradient(top,#01acac 0%,#019c9c 100%);
  background: -webkit-linear-gradient(top, #01acac 0%, #019c9c 100%);
  background: linear-gradient(to bottom,#01acac 0%,#019c9c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#01acac', endColorstr='#019c9c',GradientType=0 );
}
.btn-cyan:hover {
  background: #018080;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#01c5c5),color-stop(100%,#019494));
  background: -webkit-linear-gradient(top,#01c5c5 0%,#019494 100%);
  background: -webkit-linear-gradient(top, #01c5c5 0%, #019494 100%);
  background: linear-gradient(to bottom,#01c5c5 0%,#019494 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#01c5c5', endColorstr='#019494',GradientType=0 );
}
.btn-gray {
  background: #616161;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#666),color-stop(100%,#5c5c5c));
  background: -webkit-linear-gradient(top,#666 0%,#5c5c5c 100%);
  background: -webkit-linear-gradient(top, #666 0%, #5c5c5c 100%);
  background: linear-gradient(to bottom,#666 0%,#5c5c5c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666', endColorstr='#5c5c5c',GradientType=0 );
}
.btn-gray:hover {
  background: #666;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#747474),color-stop(100%,#575757));
  background: -webkit-linear-gradient(top,#747474 0%,#575757 100%);
  background: -webkit-linear-gradient(top, #747474 0%, #575757 100%);
  background: linear-gradient(to bottom,#747474 0%,#575757 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#747474', endColorstr='#575757',GradientType=0 );
}
label {
  display: block;
  font-size: 80%;
  margin-bottom: 8px;
  margin-left: 8px;
  box-sizing: border-box;
}
input[type="text"],
input[type="email"],
input[type="number"],
select,
.select-control {
  appearance: none;
  -webkit-appearance: none;
  display: block;
  background: #fff;
  color: #666;
  padding: 7px;
  width: 85%;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #d0d0d0;
  box-shadow: rgba(0,0,0,0.1) 0 1px 3px inset;
  outline: none;
  -webkit-transition: box-shadow 300ms, border-color 300ms;
          transition: box-shadow 300ms, border-color 300ms;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
select:focus,
.select-control:focus {
  border-color: #61ae24;
  box-shadow: rgba(0,0,0,0.1) 0 1px 3px inset, #61ae24 0 0 5px;
}
.select-control {
  padding: 0;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAvUlEQVRIS+2TsQ3CMBBFXyrqiE0YAdGmhFVoKJEYJhXQwgqMAj0V+ihIp8jEd0EpkOzKls7v2f/siolHNTGfIsgmXCL6KaI5sAV2wPMLaQbsgQNwT9UM9eAKLIEjsElIBG+BBlDtKipYABegTkgs/NHBb1GB6q3kBKzh/Tk/Jx+EC+B5plZy7k6pWLJwr6B/E61d8IjASjRXQ5OZ9/vgicjuUVwaLnj0BtlPNeYVjYLaTdGIwsIiyEb2/xG9AAlzHhmgw6wZAAAAAElFTkSuQmCC") no-repeat right 7px center;
  background-color: #fff;
}
.select-control select {
  background: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  width: 100%;
}
.form-group {
  margin-bottom: 10px;
}
.form-group.inline:after {
  content: "";
  display: table;
  clear: both;
}
.form-group.inline label {
  float: left;
  width: 15%;
  margin: 0;
  padding: 7px 15px 0;
  text-align: right;
}
.form-group.inline input,
.form-group.inline select,
.form-group.inline .select-control {
  float: left;
  width: 70%;
}
.form-group input[type="radio"] {
  display: none;
}
.form-group input[type="radio"] + label {
  position: relative;
  display: inline-block;
  font-size: 100%;
  cursor: pointer;
  padding-left: 28px;
  margin-right: 5px;
}
.form-group input[type="radio"] + label:before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 2px;
  background: #fff;
  box-shadow: rgba(0,0,0,0.1) 0 1px 3px inset;
  text-shadow: rgba(0,0,0,0.1) 0 1px 3px;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
}
.form-group input[type="radio"] + label:hover:before {
  background: #f2f2f2;
}
.form-group input[type="radio"]:checked + label:before {
  content: "\25CF";
  color: #666;
  font-size: 20px;
  text-align: center;
  line-height: 13px;
}
hr {
  border: none;
  border-top: 1px solid #f0f0f0;
  margin-top: 50px;
  margin-bottom: 50px;
}
