hover-color(color)
  gradient(color * 1.05, color * 0.95)
  &:hover
    background-color (color * 1.2)

a.btn, button, input[type="button"]
  display inline-block
  cursor pointer
  box-sizing border-box
  border none
  text-decoration none
  color #444
  padding 7px 20px 7px 20px
  margin 0
  font-size 100%
  line-height 100%
  -webkit-appearance none
  border-radius 5px
  outline none
  background none
  box-shadow rgba(0,0,0,0.1) 0 1px 2px
  text-shadow rgba(0,0,0,0.3) 0 1px 2px
  hover-color(brand_primary)
  color btn_text_color
  transition background 300ms
  &:hover
    transition background 0ms

for name, color in btn_colors
  .btn-{name}
    hover-color(color)
