body
  color text_black

p
  margin 0 0 1em 0
  line-height 170%
  &:last-child
    margin-bottom 0

b, strong
  font-weight bold
  color brand_primary

a
  color brand_primary
  text-decoration none
  &:hover
    text-decoration underline

i
  font-style italic

h1, h2, h3, h4, h5, h6
  margin-top 70px
  &:first-child
    margin-top 0