google_fonts = {
  'Raleway': '400,900'
}

brand_primary = #61AE24
brand_secondary = #D70060
text_black = #444

// BUTTONS

btn_text_color = white
btn_colors = {
  default: brand_primary,
  secondary: brand_secondary,  
  green: #61AE24,
  yellow: #D0D102,
  orange: #F18D05,
  red: #E54028,
  magenta: #D70060,
  blue: #00A1CB,
  cyan: #01A4A4,
  gray: #616161
}

// MISC

border_color = #d0d0d0
hr_color = #f0f0f0