// BRAND

if brand_primary == 'brand_primary'
  brand_primary = #61AE24
if brand_secondary == 'brand_secondary'
  brand_secondary = #D70060
if text_black == 'text_black'
  text_black = #444

// FONTS

if google_fonts == 'google_fonts'
  google_fonts = {
    //'Raleway': '400,900'
  }
if fallback_fonts == 'default_fonts'
  fallback_fonts = 'Verdana, Arial, Helvetica, sans-serif

// FORMS

if input_border_color == 'input_border_color'
  input_border_color = #d0d0d0
if input_background == 'input_background'
  input_background = white
if input_text_color == 'input_text_color'
  input_text_color = #666

// BUTTONS

if btn_text_color == 'btn_text_color'
  btn_text_color = white
if btn_colors == 'btn_colors'
  btn_colors = {
    default: brand_primary,
    secondary: brand_secondary,  
    green: #61AE24,
    yellow: #D0D102,
    orange: #F18D05,
    red: #E54028,
    magenta: #D70060,
    blue: #00A1CB,
    cyan: #01A4A4,
    gray: #616161
  }

// MISC

if border_color == 'border_color'
  border_color = #d0d0d0
if hr_color == 'hr_color'
  hr_color = #f0f0f0
